.portfolio{
    padding: 100px 0px;
    font-family: "Poppins",sans-serif;
    background: #f3f3f3;
}
.portfolio h3{
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
}
.portfolio p{
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
}
.sliderClass {
    
}