.contact{
    padding: 100px 0;
    position: relative;
    z-index: 999;
    display: flex;
    font-family: "Poppins", sans-serif;
}
.contact::before{
    background: url(../../../public/images/childrenillustration/floor.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 800px;
    height: 100%;
    content: '';
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -9999;
}
.contact h3{
    font-family: "SF Pro Display", sans-serif;
}
.contact label{
    font-family: "SF Pro Display", sans-serif;
    font-size: 16px;
    line-height: 20px;
}
.contact input{
    border: none;
    border-bottom:1px solid #000;
    padding: 10px 0 30px;
    border-radius: 0px;
}
.contact input:focus{
   outline: inherit;
}
.contact .form-control:focus {
    color: #212529;
    background-color: inherit !important;
    border-color: inherit !important;
    outline: inherit !important;
    box-shadow: inherit !important;
}
.contact input::placeholder{
    color: #707070;
}
.contact textarea{
    border: none;
    border-bottom:1px solid #000;
    padding: 10px 0 30px;
    border-radius: 0px;
}
.submitDetails{
    position: relative;
}
.submitDetails::before{
    content:'';
    position:absolute;
    top:0;
    right:-14px;
    background: url('../../../public/images/childrenillustration/smilebtn.png');
    background-size: cover;
    background-position: 50% center;
    background-repeat: no-repeat;
    width: 40px;
    height: 100%;
}