.cta2 {
  padding: 100px 0;
  background: url("../../../public/images/bookmarketinglp/cta2.png");
  background-size: cover;
  background-position: 50% center;
  background-repeat: no-repeat;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.headStyle{
  background: #1A4678;
  padding: 5px;
  margin-bottom: 10px;
  position: relative;
}
.span1:before{
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: 99999;
  left: -5px;
  top: -3px;
  background:#F7981D ;
  content: '';
  transform: rotate(45deg);
}
.span2:before{
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: 99999;
  left: -5px;
  bottom: -3px;
  background:#F7981D ;
  content: '';
  transform: rotate(45deg);
}
.span1:after{
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: 99999;
  right: -5px;
  top: -3px;
  background:#F7981D ;
  content: '';
  transform: rotate(45deg);
}
.span2:after{
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: 99999;
  right: -5px;
  bottom: -3px;
  background:#F7981D ;
  content: '';
  transform: rotate(45deg);
}
.cta2 h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 500;
  margin: 0;
}
.cta2 p {
  font-size: 16px;
  line-height: 25px;
}
@media screen and (max-width:1399.98px) {
  .cta2 {
    padding: 100px 0;
  }
  .cta2 h3 {
    font-size: 35px;
    line-height: 50px;
  }
  .cta2 p {
    font-size: 14px;
    line-height: 25px;
  }
}

@media screen and (max-width:1199.98px) {
  .cta2 {
    padding: 50px 0;
  }
  .cta2 h3 {
    font-size: 30px;
    line-height: 50px;
  }
}

@media screen and (max-width:991.98px) {
  .cta2 h3 {
    font-size: 28px;
    line-height: 38px;
  }
  .cta2 p {
    font-size: 12px;
    line-height: 20px;
  }
}

@media screen and (max-width:767.98px) {
  .cta2 {
    padding: 40px 0;
    background: url("../../../public/images/bookmarketinglp/ctabgMobile.png");
    background-size: cover;
  background-position: 50% center;
  background-repeat: no-repeat;
  }
  .cta2 h3 {
    font-size: 25px;
    line-height: 35px;
  }
}
@media screen and (max-width:575.98px) {
  .cta2 h3 {
    font-size: 25px;
    line-height: 40px;
  }
  .cta2 p {
    font-size: 12px;
    line-height: 20px;
  }
}