.blogListBody {
  padding-top: 175px;
  overflow: hidden;
  padding-bottom: 50px;
  font-family: "Poppins";
}

.postList {
  font-family: "Poppins";
}
.postList a {
  text-decoration: none;
}
.bttns1:hover {
  transition: background-color 2s;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
}

.blogCategory {
  font-size: 16px;
  font-weight: 600;
  color: #222;
  line-height: 30px;
}

.blogTitle a {
  color: #222;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.blogDesciption p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.detailDate {
  color: #222;
  font-size: 14px;
  font-weight: 600;
}

.ctaBtn {
  font-size: 12px;
  padding: 15px 10px;
  border: unset;
  color: #000;
  display: block;
  max-width: 100%;
  min-width: 230px;
  font-weight: 700;
  text-align: center;
  border-radius: 50px;
  letter-spacing: 1px;
  background-color: #fff;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
  box-shadow: black;
}

.ctaImg {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)),
    url(../../public/images/blogBanners/cta.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 40px;
}

.platForm .subTitle {
  color: #5e5c5c;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 8px;
}

.platForm .title {
  color: #000;
  font-size: 30px;
  font-weight: 600;
  line-height: 35px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.platForm .para {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}

.newsLetter {
  border: 1px solid #a8a8a8;
  padding: 30px 20px;
}

.newsLetter h4 {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0px;
}

.newsLetter h5 {
  color: #000;
  margin-top: 10px;
  font-size: 30px;
  font-weight: 600;
}

.newsLetter form input {
  border: 0;
  width: 100%;
  color: #000;
  padding: 10px 0;
  font-size: 12px;
  font-weight: 600;
  border-radius: 0;
  letter-spacing: 1px;
  border-bottom: 1px solid;
}

.newsLetter form input:focus {
  outline: none;
  box-shadow: none;
}

.newsLetter form ::placeholder {
  color: #a8a8a8;
  font-weight: 700;
}

.arrowBtn {
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-align: left;
  color: #000;
}

.newsLetter .arrowBtn {
  border: 0;
  font-size: 15px;
  background-color: #fff;
}

.arrowBtn > span {
  margin-right: 8px;
  transition: 0.4s;
}

.arrowBtn:hover > span {
  margin-right: 30px;
  color: #000;
}

.arrowBtn > img {
  display: inline-block;
  margin: unset;
}

.loadMore {
  width: 250px;
  height: 45px;
  border-radius: unset;
  margin: 4% 0;
  font-size: 15px;
  font-weight: 700;
  border: 1px solid #000;
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
}

.loadMore:hover {
  transition: background-color 2s;
  background-color: #000;
  color: #fff;
  border-color: #000;
}

/* ============================================= */

@media screen and (max-width: 1200px) {
  .ctaBtn {
    max-width: 100%;
    min-width: 150px;
  }
}
@media screen and (max-width: 991px) {
  .blogListBody {
    padding: 150px 0 25px;
    border-bottom: 1px solid #b8b8b8;
  }

  .blogRow {
    border-bottom: 1px solid #b8b8b8;
    padding: 20px 0;
  }

  .blogTitle a {
    font-size: 24px;
    line-height: 32px;
  }

  .blogDesciption p {
    font-size: 15px;
  }

  .platForm .subTitle {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .cardCntnt {
    margin-top: 25px;
  }

  .platForm .para {
    font-size: 16px;
  }

  .arrowBtn {
    font-size: 16px;
  }
}
