@-moz-document url-prefix() {
  .flipcardback,
  .flipcardfront {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
  }
}

.comprehensive {
  background-color: #fff;
  padding-top: 100px;
  font-family: "Poppins";
}

.flipcard {
  background-color: transparent;
  width: 100%;
  height: 270px;
  perspective: 1000px;
}

.flipcardinner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flipcard:hover .flipcardinner {
  transform: rotateY(180deg);
}

.flipcardfront,
.flipcardback {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipcardfront {
  color: #223235;
}

.flipcardback {
  border: 2px solid #223235;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
}
.flipcardback h3 {
  color: #223235;
  font-weight: 500;
  font-size: 20px;
  font-family: "Poppins";
}
.flipcardback p {
  color: #777;
  font-size: 13px;
  font-weight: 500;
}

.flipcardfront h3 {
  font-size: 20px;
  font-weight: 400;
  color: #24303e;
  margin-top: 8%;
}

.flipcardfront1 {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgb(100 100 111 / 35%) 0px 7px 15px 0px;
  border-radius: 10px;
}

.newimg {
  height: 100%;
}
.flipcardfront1 img {
  filter: brightness(0);
}
@media (max-width: 1280px) {
  .post {
    width: 50%;
  }

  .newimg {
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 991px) {
  .comprehensive {
    padding-bottom: 100px;
  }

  .post {
    width: 50%;
  }

  .post {
    margin-bottom: 5%;
  }
}

@media (max-width: 767px) {
  .post {
    width: 100%;
    flex: none;
  }
  .flipcardfront {
    height: 112%;
    width: 65%;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .flipcardback {
    height: 112%;
    width: 65%;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  .post {
    margin-bottom: 12%;
  }
}

@media (max-width: 480px) {

  .flipcardfront1 {

    box-shadow: unset;
    border:1px solid black;
    border-radius: unset;
   
  }



  .flipcardback p {
    font-size: 14px;
    line-height: 23px;
    height: 96px;
    overflow-y: scroll;
    margin-top: 10px;
}

  .post {
    margin-bottom: 0%;
  }

  .flipcardfront h1 {
    font-size: 13px;
  }
  .flipcardfront {
    height: 90%;
    width: 100%;
  }

  .flipcardback {
    height: 90%;
    width: 99%;
  }
}
