.aspiring{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #FC9E31;
    font-family: 'Poppins';
}


.middle{
    align-items: center;
}


.btn1{
    background-color: #141d29;
    font: inherit;
    letter-spacing: inherit;
    padding: 1em 1em;
    border: none;
    border-radius: 50px;
    text-transform: capitalize;
    transition: color 1s;
    border: 2px solid #EE9D2D;
    color: #fff ;
    width: 100%;
    font-family: 'Poppins'; 
    text-decoration: none;
}

.btn1:hover{
    animation: stripes-move 1s infinite linear;
    
    border: 2px solid #EE9D2D;
    color: white;
}
.btn2:hover{
    color: #223235;
}
.btn2{
    background-color: #fff0;
    font: inherit;
    letter-spacing: inherit;
    padding: 1em 1em;
    border: none;
    border-radius: 50px;
    text-transform: capitalize;
    transition: color 1s;
    color: #141d29;
    border: 2px solid #141d29;
    width: 100%;
    font-family: 'Poppins'; 
    text-decoration: none;
    margin-left: 3%;
}

.colortext{
    color: #fff;
    font-size: 20px;
}


@media (max-width:1200px)  {
    .btn1{
      display: block;
      text-align: center;
    }
    .btn2{
        display: block;
        margin-left: 0%;
        margin-top: 2%;
        text-align: center;
    }

 }

@media (max-width:991px)  {
    .btn1{
        padding: 1em 1em;
    }
    .btn2{
        padding: 1em 1em;
    }
    .stopworrying {
        background-position: top;
    }

 }

 @media (max-width:767px)  {
    .btn1{
     
        display: block;
    
    }
    .btn2{
        display: block;
        margin-left: 0%;
        margin-top: 2%;
    }

 }