.books img {
  max-height: 400px;
  color: transparent;
  min-height: 400px;
  object-fit: contain;
}

@media only screen and (max-width: 567px) {
  .books img {
    max-height: unset;
    min-height: unset;
  }
}
