.error{
    padding-top: 230px;
    padding-bottom: 90px;
    background-color: #24303E;
}

.btn404{
    border: 0;
    padding: 12px 30px;
    border-radius: 0;
    background-color: #fa9600;
    color: #fff;
    text-decoration: unset;
    margin-left: 4px;
    border: 1px solid #fa9600;
    border-radius: 50px;
    font-family: 'Poppins';
  
}
.btn404:hover{
    background-color: #223235;
    color: #fff;
}

@media (max-width:991px)  {
    .error{
        padding-top: 90px;
        padding-bottom: 90px;
    }

}


@media (max-width:480px)  {

    .btn404{
        display: block;
        margin-bottom: 2%;
    }
   

}