.ready{
  background-image: url(/images/newlp/bgfine.png);
  background-repeat: no-repeat;
  font-family: "Poppins";
  background-size: cover;
  display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 25px;
}

.menuinto h2{
  color:#ffff;
  font-size: 40px;
  line-height: 1.4;
  padding-bottom: 10px;
}
.menuinto p{ 
  color: #ffff;
  font-size: 13.5px;
}
.great {
  background-color: #F7981D;
  border: unset;
  height: 38px;
  width: 180px;
  border-radius: 4px;
  font-size: 14px;
  color: white;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Poppins";
}
.great:hover, .produce:hover{
  color: unset;
}
.produce {
  background-color: white;
  border: unset;
  height: 38px;
  width: 180px;
  border-radius: 4px;
  font-size: 14px;
  border: 1px solid #F7981D;
  color: black;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Poppins";
}
.know{
  display: flex;
  gap: 20px;
}
.turn{
  align-items: center;
}

.menuinto{
  max-width: 61%;
  margin-left: auto;
}

.piximg img{
  width: 90%;
margin-left: auto;
  display: block;
}

@media (min-width: 1400px) { 

  .great{
    font-size: 15px;
  }
  .produce {
    font-size: 15px;
  }

  .menuinto h2 {
    color: #ffff;
    font-size: 45px;
}
.menuinto p {
  color: #ffff;
  font-size: 15px;
}
}

@media (max-width: 1200px) { 

  .menuinto  h2 {
    color: #ffff;
    font-size: 25px;
    line-height: 1.4;
    padding-bottom: 10px;
}
.ready {
  padding-top: 50px;
  padding-bottom: 50px;
}
 }

 @media (max-width: 767px) {  
  .menuinto  {
    max-width: 100%;
    margin-left: auto;
    margin-top: 7%;
}
 }