.freequote{

    padding-bottom: 70px;
    padding-bottom: 100px;
    background-color: #fff;
    font-family: 'Poppins'; 
}

.formfree{
    padding: 20px;
    border-radius: 0;
    box-shadow: 0 0 20px 0 #ddd;
    background: #fff;
    border: solid #a6a6a6;
    width: 100%;
}

.freebtn{
    border: 0;
    padding: 12px 30px;
    border-radius: 0;
    background-color: #FF9900;
    color: #fff;
    width: 32%;
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-top: 3%;
    margin-bottom: 6%;
    border-radius: 50px;
    

}
.formalign{
    padding-top: 2%;
}
.bookemail{
    color: #223235;
    font-weight: 500;
    font-size: 15px;
    list-style: none;
    font-family: 'Poppins'; 
}
.emailhref{
    color: #383838;
    text-decoration: none;
}
@media (max-width:991px)  { 

    .emailhref {
        font-size: 11px;
    }

    .bookemail{
        font-size: 14px;
    }

 } 
@media (max-width:767px)  {
    .freebtn {
        width: 50%;
    }

    .formfree {
        margin-bottom: 3%;
    }

}

@media (max-width:480px)  {
    .emailhref {
        font-size: 14px;
    }

    .bookemail{
        font-size: 17px;
    }
    .leftemail{
        margin-left: 1%;
        margin-top: 50px;
    }
    .freebtn {
        width: 70%;
    }

    .formfree {
        margin-bottom: 3%;
    }

}