.whychoosebookwritingcube {
  padding-top: 100px;
  padding-bottom: 100px;
}
.whychoosebookwritingcube .middle {
  align-items: center;
}
.marketyourbook .middle {
  align-items: center;
}
.middle {
  justify-content: space-between;
}
.middle img{
  transition: all .2s ease-in-out;
}
.middle:hover img{
  border: 3px solid #ff9900;
}
.marketyourbook {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f8f8f8;
}
.asnumber:hover {
  background-color: #223235;
}
.asdiscuss:hover {
  background-color: #ff9900;
  color: #fff;
}
.asnumber {
  border: 0;
  padding: 12px 30px;
  border-radius: 0;
  background-color: #ff9900;
  color: #fff;
  text-decoration: unset;
  margin-left: 10px;
  border: 1px solid #ff9900;
  border-radius: 50px;
  font-family: "Poppins";
}
.asnumber:hover {
  color: white;
}
.asdiscuss {
  font-size: 15px;
  font-weight: 500;
  padding: 12px 18px;
  border: 2px solid #ff9900;
  color: #223235;
  text-decoration: unset;
  font-family: "Poppins";
  border-radius: 50px;
}
.imgshowdow {
  box-shadow: 0 0 21px 3px #ddd;
}
@media (max-width: 991px) {
  .asnumber {
    display: block;
    text-align: center;
    margin-left: 0px;
    margin-top: 3%;
  }
  .asdiscuss {
    display: block;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .middle {
    flex-direction: column-reverse;
  }

  .cube {
    margin-top: 5%;
  }

}
