.servicePublish {
  position: relative;
  padding: 80px 0;
}

.slider {
  border: 2px solid #cececece;
  padding: 10px 4px 0px 16px;
  border-radius: 35px;
}

.sliderMain {
  position: relative;
}

.Arrows {
  position: absolute;
  right: -150px;
  bottom: 36%;
}

.rightImage {
  width: 500px;
  height: 500px;
}

.rightImage img {
  position: absolute;
  right: 0;
}

@media only screen and (max-width: 1280px) {
  .rightImage img {
    right: -75px;
  }
}

@media only screen and (max-width: 991px) {
  .rightImage img {
    right: 75px;
    max-height: 541px;
    margin-top: 40px;
    margin-top: 40px;
  }

  .Arrows {
    display: none !important;
  }
}

@media only screen and (max-width: 576px) {
  .rightImage img {
    position: inherit;
  }

  .servicePublish {
    padding: 50px 0;
  }
}
