.nametext {
  width: 100%;
  height: 55px;
  background-color: #fff;
  margin: 0 0 50px 0;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 3px;
  padding: 0 15px;
  border-radius: 0px;
  font-family: "Poppins";
  color: #898989;
  font-size: 14px;
}

.nametext::placeholder {
  font-family: "Poppins";
  font-size: 14px;
}

.nametext:focus {
  outline: none;
}

.signup {
  background-color: #fff;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 12px 40px 20px 40px;
  border: 1px solid #fc9e31;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.signup1 {
  background-color: #141d29;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 12px 40px 20px 40px;
  border: 2px solid #fc9e31;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.concolor {
  color: #e5e5e5;
}
.contacttextblack {
  color: #223235;
}
.signup1 p {
  color: white;
}

.textareanew {
  width: 100%;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  background: white;
  padding: 10px 15px;
  color: gray;
  font-size: 14px;
  font-size: 14px;
  border-radius: 3px;
  font-weight: 400;
  height: 90px;
  outline: none;
  resize: none;
  text-align: left;
  font-family: "Poppins";
}

.freebtn {
  color: #fff;

  font-weight: 500;
  border-radius: 50px;
  text-align: center;
  text-align: center;
  padding: 10px 15px;
  margin: 20px 0 0;
  border: transparent;
  cursor: pointer;
  font-size: 16px;
  background: #fc9e31;
  width: 100%;
  font-family: "Poppins";
}
.getup {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-family: "Poppins";
  margin-bottom: 5px;
  margin-top: 10px;
}
.offfree {
  color: #fc9e31;
  font-size: 28px;
  font-family: "Poppins";
}
.signsimg {
  width: 66%;
  z-index: 9;
  transform: rotate(38deg);
  margin-top: -42px;
  margin-left: 60%;
  position: relative;
  top: 24px;
}

.ourform {
  background-color: #f8f8f8;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

.ourform p {
  display: none;
}

.ourform form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
}

.ourform form input {
  width: 30%;
  margin-bottom: 0;
  border: 2px solid #fc9e31;
}

.ourform form textarea {
  display: none;
}

.ourform form button {
  height: 50px;
  max-width: fit-content;
  border-radius: 0;
  padding: 0 30px;
  margin: 10px auto 0;
}

@media (min-width: 1400px) {
  .signup1 {
    margin-left: 25px;
  }
}

@media (max-width: 1400px) {
  .nametext {
    margin: 0 0 40px 0;
  }
}

@media (max-width: 991px) {
  .signsimg {
    width: 76%;
    z-index: 9;
    transform: rotate(38deg);
    margin-top: -42px;
    margin-left: 62%;
    position: relative;
    top: 24px;
  }

  .ourform form {
    flex-direction: column;
  }

  .ourform form input {
    width: 100%;
  }

  .ourform form button {
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .signsimg {
    display: none;
  }

  .signup {
    margin-top: 5%;
    padding-top: 5%;
  }
}
@media (max-width: 480px) {


  .ourform {
    
    padding-left: 0;
    padding-right: 0;
}


  .freebtn {
    font-size: 14px;
  }
  .signup {
    padding: 42px 20px 40px 20px!important;
}
.signup p{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.signup p em{
  font-style: normal;
}
}
