.number:before{
    counter-increment: section;
    content: counter(section);
    position: absolute;
    font-family: 'Poppins';
    font-size: 5.5em;
    font-weight: 900;
    color: #e9e8e8;
    margin-top: -70px;
    margin-left: -63px;
}

.number1:before{
    counter-increment: section;
    content: counter(section);
    position: absolute;
    font-family: 'Poppins';
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin-left: 8%;
    opacity: .1;
    font-size: 13.75em;
    margin-top: -5%;
   
}

.stilltext{
    max-width: 450px;
}


.number{
    max-width: 450px;
    margin: 0 auto;
}


.number1 h3 {
    max-width: 200px;
    margin: 0 auto;
    height: 200px;
    display: flex;
    align-items: center;
}

@media (max-width:1280px)  {

    .number:before {
     
        font-size: 2.5em;
        margin-top: -54px;
        margin-left: unset;
    }
}

@media (max-width:1280px)  {

.number1:before{
   
    margin-left: 5%;
    margin-top: -8%;
   
}
}



@media (max-width:767px)  {

    .number:before {
        display: none;
    }
    .number1 h3 {
    max-width: unset;
    margin: 0 auto;
    height: unset;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    }
    .number1:before {
        display: none;
    }
    .number1 .stilltext{
        max-width: unset;
    }

}


@media (max-width:480px)  {

    .number1 h3 {
        padding-bottom: 20px;
    }

}



