.stopworrying {
  padding-top: 100px;
  padding-bottom: 115px;
  /* margin-top: 100px; */
  background-image: url(/images/stopworrying/worrying.webp);
}

.stopworrying h2 {
  margin-top: 3%;
  margin-bottom: 3%;
}

.aligntop {
  margin-top: 4%;
  text-align: center;
}

.btn1 {
  background-color: #ff9900;
  font: inherit;
  letter-spacing: inherit;
  padding: 1em 3em;
  border: none;
  border-radius: 50px;
  text-transform: capitalize;
  transition: color 1s;
  border: 2px solid #ee9d2d;
  color: #fff;
  width: 100%;
  font-family: "Poppins";
  text-decoration: none;
}

.btn1:hover {
  animation: stripes-move 1s infinite linear;
  background-color: #ff9900;
  border: 2px solid #ee9d2d;
  color: #fff;
}
.btn2:hover {
  color: white;
}
.btn2 {
  background-color: #fff0;
  font: inherit;
  letter-spacing: inherit;
  padding: 1em 3em;
  border: none;
  border-radius: 50px;
  text-transform: capitalize;
  transition: color 1s;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  font-family: "Poppins";
  text-decoration: none;
  margin-left: 3%;
}

@media (max-width: 991px) {
  .btn1 {
    padding: 1em 1em;
  }
  .btn2 {
    padding: 1em 1em;
  }
  .stopworrying {
    background-position: top;
  }
}

@media (max-width: 767px) {

  .stopworrying {
    background-image: unset;
    background-color: #24303e;
  }


  .aligntop {
    margin-top: 10%;
  }

  .btn1 {
    display: block;
  }
  .btn2 {
    display: block;
    margin-left: 0%;
    margin-top: 3%;
  }
}
