.stun{
    padding-top: 100px;
    padding-bottom: 100px;
}
.stun1{
    padding-top: 100px;
    padding-bottom: 100px;
}


.stunimage img{
    width: 100%;
}
.btn1:hover{
    color: white;
}
.btn1{
    background-color: #ff9900;
    letter-spacing: inherit;
    padding: 0.7em 3em;
    border: none;
    border-radius: 50px;
    text-transform: capitalize;
    transition: color 1s;
    border: 2px solid #ee9d2d;
    width: 26%;
    font-family: "Poppins";
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    color: white;
    
}
.stun h2{
    font-size: 40px;
}
.stun h2 a:hover{
    color: black;
}
.stun1{
    display: none;
}
@media (max-width:991px)  { 

    .stun h2 {
        font-size: 25px;
    }

    .btn1 {
        width: 35%;
    }
}
@media (max-width:767px)  { 

    .btn1 {
        width: 50%;
    }
}
@media (max-width:480px)  { 


    .stun {
        display: none;
    }
    .stun1{
        display: block;
    }
    .btn1 {
        width: 100%;
    }
}