.ourclients {
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: "Poppins";
}
/* .ourclients img {
  filter: brightness(0);
} */
.whatclientlogo {
  text-align: center;
}
.mark {
  text-align: center;
  margin-bottom: 0;
  color: #ff9900;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  display: block;
  padding-bottom: 5px;
}

.clientData{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 5%;
}

.clientData img{
  width: 125px;
}

.clientDataTxt{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.stars {
  color: #ff9900;
  margin-bottom: 0;
}

.canva {
  max-width: 100%;

    line-height: 1.7;
  
    font-size: 25px;
}

.looking {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 2%;
  margin-top: 2%;
}

.whatclientlogo {
  text-align: center;
}
.quit {
  display: block;
  width: 75px;
  height: 75px;
  margin: 0 auto;
  border-radius: 50%;
  margin-top: 3%;
}

.value {
  font-size: 50px;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 2%;
}


@media (max-width:767px)  {

  .value {
    font-size: 35px;
    font-family: "Poppins";
    font-weight: 700;
    line-height: 1;
    margin-bottom: 5%;
}

 }


@media (max-width:480px)  {

  .value {
   
    line-height: 1.3;
 
}
.canva {
  font-size: 20px;
  line-height: 30px;
}


 }