.emblaWrapper {
  display: flex;
}

.overflowHidden {
  overflow: hidden;
}

.arrowsWrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}
.embla__controls {
  margin-top: 2rem;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  background-color: transparent;
  touch-action: manipulation;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  background-color: #e5e5e5;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}
.embla__dot__selected:after {
  background-color: #008efd;
}
